# Dependencies
/node_modules

# Build outputs
/dist
/tmp
/out-tsc
/bazel-out
/dev-dist

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Logs
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Local Netlify folder
.netlify

# Build artifacts
build_log.txt
nul
src/environments/environment.ts
src/environments/environment.prod.ts
